# local envs
.venv/
.env
pyrightconfig.json

#tokens
tokens.json
legacy_tokens.json

#proccessing input and output folders
processing/input/
processing/output/
processing/postp_input/
processing/postp_output/
postp_input/
postp_output/
processing/__pycache__/
test_input/
processing/transcriptions/
results.csv
